@model List<DbOptions.Models.category_entity>
@{
    ViewData["Title"] = "Home Page";
}



<ul class="slider">
    <li class="item item1" style="background-image: url('https://images.unsplash.com/photo-1562624475-96c2bc08fab9?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTkxODI2OTF8&ixlib=rb-4.0.3&q=85&width=700')"><span>Ex text1</span></li>
    <li class="item item2" style="background-image: url('https://images.unsplash.com/photo-1534283844880-d5fd2ddd2cc9?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTkxODI5OTN8&ixlib=rb-4.0.3&q=85&width=700')"><span>Ex text2</span></li>
    <li class="item item3" style="background-image: url('https://images.unsplash.com/photo-1511745235279-2f7276d5ba65?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTkxODMwNTh8&ixlib=rb-4.0.3&q=85&width=700')"><span>Ex text3</span></li>
    <li class="item item4" style="background-image: url('https://images.unsplash.com/photo-1560930950-5cc20e80e392?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTkxODI1OTd8&ixlib=rb-4.0.3&q=85&width=700')"><span>Ex text4</span></li>
</ul>

    <!-- <div class="row justify-content-center mb-5">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">New User?</h5>
                    <p class="card-text">Create an account to get started</p>
                    <a href="@Url.Action("SignUp", "Account")" class="btn btn-primary btn-lg btn-block">Sign up</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Already have an account?</h5>
                    <p class="card-text">Sign in to your account</p>
                    <a href="@Url.Action("LoginPage", "Login")" class="btn btn-secondary btn-lg btn-block">Log in</a>
                </div>
            </div>
        </div>
    </div>-->
    
    <h4 class="text-center mb-4">Let's start shopping</h4>
    <h2 class="text-center mb-4">Categories</h2>


    <div class="row">
        <!-- Категория "See all" -->
        <div class="col-md-4">
            <div class="card mb-3 h-100">
                <img src="https://st.depositphotos.com/1004915/2137/i/450/depositphotos_21374017-stock-photo-toys-background.jpg" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;" alt="See All">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div>
                        <h6 class="card-title mb-2" style="font-size: 1rem;">See all</h6>
                        <p class="card-text mb-3" style="font-size: 0.8rem;">View all items</p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-outline-primary py-1 px-3" href="@Url.Action("AllItems", "SelectedCategory")">View All</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Остальные категории -->
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card mb-3 h-100">
                    <img src="@item.picLink" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;" alt="@item.Name">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <div>
                            <h6 class="card-title mb-2" style="font-size: 1rem;">@item.Name</h6>
                            <p class="card-text mb-3" style="font-size: 0.8rem;">@item.Description</p>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-outline-primary py-1 px-3" asp-controller="SelectedCategory" asp-action="Index" asp-route-categoryId="@item.Id">View</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<style>
    .card {
        transition: transform 0.2s;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }

        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 6px 8px rgba(0,0,0,0.15);
        }

    .btn-lg {
        padding: 0.75rem 1.25rem;
        font-size: 1.25rem;
    }
    *, *::before, *::after {
    box-sizing: border-box;
    }
    
    .slider {
      list-style-type: none;
      padding: 0;
      margin: 30px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 1200px;
      height: 500px;
    }
    .slider .item {
      flex: 1 1 25%;
      height: 100%;
      background: no-repeat center/cover #333;;
      border: 1px solid;
      text-align: center;
      transition: .5s;
    }
    .slider .item:hover {
      flex-basis: 75%;
    } 

    .slider .item span {
      display: inline-block;
      font-size: 2em;
      font-weight: bold;
      text-transform: uppercase;
      background-color: rgba(255, 255, 255, .8);
      padding: 6px 12px;
      margin-top: 10%;
    }

    body {
        background-image: url('/images/nn.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        min-height: 100vh;
    }
</style>